* {
    padding: 5px;
}

h1, p {
    text-align: center;
}

body {
    min-height: 15vh;
    display: flex;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
}

.pfp {
    display: block;
    width: 100%;
    max-width: 500px;
}