* {
    padding: 5px;
    color: #FFF;
}

h1, p {
    text-align: center;
}

body {
    min-height: 15vh;
    display: flex;
    background-color: #121212 !important;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FFF;
    text-decoration: none;
}