<header class="header">
    <a href="/" class="nav_logo">Musimatch</a>
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="/about" class="nav_link">About</a>
                    <a href="{% url 'game:join' %}" class="nav_link">Join Game</a>
               
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' user_name=user.username %}" class="nav_link">Profile</a>
            {% else %}
                <a href="{% url 'users:login' %}"  class="nav_link">Login</a>
            {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>
