{% extends 'base_layout.html' %}

{% block title %}
    Play by artist
{% endblock %}

{% block content %}
    <h1>Category: artist</h1>
    <div style="text-align: center; margin-top: 50px;"> 
        <form method="post" action="{% url 'game:artist_search' %}">
            {% csrf_token %}
            <label for="submission">Enter Artist:</label><br> 
            <input type="text" id="submission" name="submission" style="color: green;">
            <button type="submit" style="color: green;">Submit</button> 
            <!-- maybe change colour to match spotify, try to give option to select artist from dropdown, play full song with spotify sdk? -->
        </form>
    </div>
    <div style="text-align: center; margin-top: 20px;"> 
        <!-- autocomplete box? -->
    {% if artist %}
        <h2>Artist: {{ artist }}</h2>
        <form method="post" action="">
            {% csrf_token %}
            <label for="submission">Guess 1:</label><br> 
            <input type="text" id="submission" name="submission" style="color: green;">
            <button type="submit" style="color: green;">Enter</button> 
            <!-- if variable matches? also need to find a way to continue listening where u left off-->
        </form>
    {% endif %}
    </div>

{% endblock %}


